
.accordion-item {
    margin: 10px
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #eeeeee;
    margin-bottom: 5px;
}

.temperaments-item {
    color: green;
    border: 2px solid green;
    border-radius: 6px;
    cursor: pointer;
    margin: 3px
}

.temperaments-item:hover {
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 6px;
    cursor: pointer;
}

.temperaments-item-selected {
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 6px;
    cursor: pointer;
}